name: Release PRs on main

on:
  pull_request:
    types:
      - closed
    paths-ignore:
      - '.github/**'
      - '.vscode/**'
    branches:
      - main

jobs:
  release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com/
          scope: '@zidsa'
          cache: 'pnpm'

      - name: Set github registry & auth for private dependencies
        env:
          GPR_TOKEN: ${{ secrets.GPR_AUTH_TOKEN }}
        run: |
          pnpm config set @zidsa:registry https://npm.pkg.github.com/
          pnpm config set //npm.pkg.github.com/:_authToken $GPR_TOKEN

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Update GPR auth token for release
        run: pnpm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        run: pnpm run release patch --ci
